// Place all the styles related to the clock controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


header {
    padding-bottom: 5px;
    background-color: gray;
}

body {
    background-color: lightgoldenrodyellow;
}
.showcaseDiv {
    padding-right: 10px;
    margin: 0 auto;
    display: block;
}

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid gray;
	color: gray;
	a {
		color: gray;
		&:hover {
			color: gray;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 15px;
		}
	}
}

li{
    margin-top: 10px;
}

li:first-child {
    margin-top:0;
}

#list{
    padding: 2px;
    list-style-type: none;
    list-style: none;
}