<footer class="footer">
	<small>
		Clock+ s3602584@student.rmit.edu.au s3602584 Credit Share Social
        <a href="https://www.facebook.com/"><i class="fab fa-facebook fa-3x"></i></a>
        <a href="https://www.twitter.com/"><i class="fab fa-twitter fa-3x" ></i></a>
        <a href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-3x"></i></a>
	</small>
</footer>
