<footer class="footer">
	<small>
		Clock+ s3602584@student.rmit.edu.au Credit
        <a href="www.facebook.com"><i class="fa fa-user-plus"></i> Facebook</a>
        <a href="www.twitter.com"><i class="fa fa-user-plus"></i> Twitter</a>
        <a href="www.linkedin.com"><i class="fa fa-user-plus"></i> Linkedin</a>
	</small>
</footer>
