<footer class="footer">
	<small>
		Clock+ s3602584@student.rmit.edu.au Credit
        <a href="https://www.facebook.com/"><i class="fa fa-user-plus"></i> Facebook</a>
        <a href="https://www.twitter.com/"><i class="fa fa-user-plus"></i> Twitter</a>
        <a href="https://www.linkedin.com/"><i class="fa fa-user-plus"></i> Linkedin</a>
	</small>
</footer>
